

body {
    display: flex;
    justify-content: center;
    background-color: chocolate;
    
}

input {

    background-color: aliceblue;
    border-radius: 3px;
    width: 370px;
    height:26px;
    margin-top: 50px;
}

.box {
    background-color: blue;
    border-radius: 3px;
    width: 377px;
    height:auto ;
    margin-top: 5px;
}

.boxelem {
    display: flex;
    justify-content: center;
    background-color: azure;
    width: 377px;
    height:25px;
    margin-top: 1px;
}



